<div class="ui raised very padded text container segment">
    <h1 class="ui header">Trainer Teams</h1>

    <table class="ui striped table">
    <thead>
        <tr>
            <th>Team ID:</th>
            <th>Team Name:</th>
            <th>Trainer:</th>
        </tr>
    </thead>
    <tbody>
    <% @teams.each do |team|%>
        <tr>
            <td><%= link_to team.id, team %></td>
            <td><%= link_to team.teamName, team %></td>
            <td><%= link_to team.trainer.name, team.trainer %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
</div>