<h1 class="ui header">Search Results</h1>
<h2 class="ui header">Your query is <%= @query%> and it returned <%= pluralize(@trainers.size, 'result')%></h2>
<%@trainers.each do |trainer|%>
    <p><%= link_to trainer.name, trainer%></p>
<% end %>
