<h1 class="ui header">Pokemon</h1>
<% render @pokemons%>

<div class="ui three stackable cards">
    <% @pokemons.each do |pokemon|%>
    <div class="card">
        <div class="image">
            <img src="<%= pokemon.imageURL%>">
        </div>
        <div class="content">
            <h3 class="ui header"><%= link_to pokemon.name, pokemon%></h3>
        </div>
    </div>
    <% end %>
</div>

<%= paginate @pokemons%>
