<div class="ui container">
    <h1 class="ui header">Name: <%= @trainer.name %></h1>
    <h3 class="ui header">Trainer Type: <%= @trainer.trainerType.upcase %></h3>
    <h3 class="ui header"><%= @trainer.teamName %></h3>
    <div class="ui three stackable cards">
    <div class="card">
        <div class="image">
        <img src="">
        </div>
    </div>
</div>

